<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO_MoblieStoreApp.Properties.Settings.IMPROOKV1ConnectionString"
            connectionString="Data Source=CLIMAX;Initial Catalog=IMPROOKV1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>